:root {
    --blue: rgb(0, 70, 175);
    --text-color: 53, 53, 53;
    --system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --mono-font-stack: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: var(--system-font-stack);
    max-width: 30rem;
    margin: 0 auto;
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); */
}

header {
    color: var(--blue);
    text-align: center;
    border-bottom: 0.1rem solid var(--blue);
    padding: 1rem 0 0;
    margin: 0;
    margin-bottom: 2rem;
}

header h1 {
    line-height: 1;
    margin: 0;
    padding: 2rem 0;
    font-size: 3rem;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    border-bottom: 0.3rem solid var(--blue);
    margin-bottom: 0.1rem;
}

header h1 sub {
    font-weight: normal;
    font-size: 2rem;
}

section {
    margin: 2rem 0;
    text-align: center;
}

section p {
    margin: 2rem 0;
}

section address {
    font-style: normal;
}

section.patent {
    border-top: 1px solid #ddd;
    font-size: 0.8rem;
    font-weight: bold;
}

section.patent span.patent-number {
    font-size: 1rem;
    font-weight: normal;
}
